<div class="container col-md-5">
  <h4>Editing artwork</h4>
  <%= render "form", artwork: @artwork %>
  <br>
  <div>
    <%= link_to "Show this artwork", @artwork %> |
    <%= link_to "Back to artworks", artworks_path %>
  </div>
</div>
